<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>What's your strain?</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/business-casual.css" rel="stylesheet">

</head>
<style>
body {
/* linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)),*/
  font-family: 'Lora';
  background: url("/static/img/Cannabis_photo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
        }
</style>
<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Welcome to</span>
    <span class="site-heading-lower">Big Trees.</span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Big Trees.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index">Home</a>
          </li>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="about">About<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="research">Research</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="strains">Strains</a>
          </li>
          <!-- <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="products.html">Products</a>
          </li> -->
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="resources">Resources</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../static/img/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-12 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper"></span>
                <span class="section-heading-lower">Our Mission</span>
              </h2>
              <hr>
              <p>
              <br>
                <p>We welcome you to explore our website and discover more about cannabis and its traits and effects. Here you can find more research on where legislation has already been passed and what bills are next to be voted on. You can also discover the different flavors and aromas from over 2500 strains. As you look closer the ratings from each strain can give you an overall idea of what is popular amongst the population.  Continue to navigate through to participate in our strain interactive page where you can find what strain type is customized to your interest of effects. Our resources are cited and located on the resource tab, please feel free to click the links to access more information on cannabis.</p>
                  <p>We sincerely hope you enjoy your experience here.  LET’S GO!!!</p>
                  <table width="100%">
                    <div class="description-content">
                      <h1 class="team-header">Meet Our Team</h1>
                      <hr class="description-hr">
                      <div class="row">
                        <div class="col-md-4">
                          <figure>         
                            <a href="https://github.com/gelopez21" target="_blank">
                              <img src="../static/img/Lulu.jpg" alt="Lulu" alt="centered image" width="200" height="200" class="imageNav-photo">
                            </a>
                            <figcaption class="fig-caption">Lupita Lopez</figcaption>
                          </figure>
                        </div>
                          <div class="col-md-4">
                          <figure>
                            <a href="https://github.com/tiaortega" target="_blank">
                              <img src="../static/img/Tia.jpg" alt="Tia" alt="centered image" width="200" height="200" class="imageNav-photo">
                            </a>
                            <figcaption class="fig-caption">Tia Anderson-Ortega</figcaption>
                          </figure>
                        </div>
                        <div class="col-md-4">
                          <figure>         
                            <a href="." target="_blank">
                              <img src="../static/img/weedBud.jpg" alt="Trainwreck-Hybrid" alt="centered image" width="200" height="200" class="imageNav-photo">
                            </a>
                            <figcaption class="fig-caption">Budd</figcaption>
                          </figure>
                        </div>
                      </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 large">Copyright &copy; Lupita Lopez & Tia Anderson-Ortega 2021</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
