<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>What's your strain?</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/business-casual.css" rel="stylesheet">

</head>
<style>
  body {
  
    font-family: 'Lora';
    background: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('/static/img/Cannabis_photo.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  </style>
<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Welcome to</span>
    <span class="site-heading-lower">Big Trees.</span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Big Trees.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index">Home</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="about">About</a>
          </li>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="research">Research<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="strains">Strains</a>
          </li>
          <!-- <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="products.html">Products</a>
          </li> -->
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="resources">Resources</a>
          </li> 
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../static/img/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-12 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper"></span>
                <span class="section-heading-lower">Research</span>
              </h2>
              <p>Here you can explore our interactive map , chart, and sample machine learning code.</p>
                <p><strong>What will you see?</strong></p>
                <li>Map with information of Bill names and numbers, a summary, bill progress, decriminalization status, medicinal status, legal status, last action, and year of action date.</li>
                 
                <li>Bar Chart, with over 2500 named strains. The chart will also provide you a detailed description of flavors, and categorized types with ratings.</li>
                </p>
                
                 <div class='tableauPlaceholder' id='viz1611544153671' style='position: relative'><noscript><a href='#'><img alt=' '
                            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;Test2_16112048378830&#47;DecriminalizationbyState&#47;1_rss.png'
                            style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='Test2_16112048378830&#47;DecriminalizationbyState' />
                    <param name='tabs' value='yes' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;Test2_16112048378830&#47;DecriminalizationbyState&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='en' />
                    <param name='filter' value='publish=yes' />
                </object></div>
                    <script type='text/javascript'>                    
                        var divElement = document.getElementById('viz1611544153671'); 
                        var vizElement = divElement.getElementsByTagName('object')[0]; 
                        vizElement.style.width = '100%'; 
                        vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; 
                        var scriptElement = document.createElement('script');
                        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                        vizElement.parentNode.insertBefore(scriptElement, vizElement);               
                    </script>
                    <br>
                    <h2 class="section-heading mb-4">
                      <span class="section-heading-upper"></span>
                      <span class="section-heading-lower">Check out below our Jupyter notebook</span>
                    </h2>
                    <p>Here is sample code from our trained and tested machine learning:</p>
                    <strong>Logistic Regression 3 – Class Classifier</strong></p>
                    <hr>
                    <p>Below is a Logistic – Regression 3 - Class Classifier Model with decision boundaries on the first two dimensions (Low Energy and High Energy) of the Strain-Effect dataset.  The datapoints are colored according to their labels.
 
                    <iframe src="energy" style="width: 100%; height: 500px"></iframe>
                 </p> 
                      <h2 class="section-heading mb-4">
                        <span class="section-heading-upper"></span>
                        <span class="section-heading-lower">Pretty cool, right?!?</span>
                      </h2>                 
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 large">Copyright &copy; Lupita Lopez & Tia Anderson-Ortega 2021</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>


