<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>What's your strain?</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/business-casual.css" rel="stylesheet">

</head>
<style>
  body {
  /* linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)),*/
    font-family: 'Lora';
    background: url("/static/img/Cannabis_photo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  </style>
<body>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Welcome to</span>
    <span class="site-heading-lower">Big Trees.</span>
  </h1>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
      
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Big Trees</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="index">Home</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="about">About</a>
          </li>
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="research">Research</a>
          </li>
          <li class="nav-item active px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="strains">Strains<span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="products.html">Products</a>
          </li> -->
          <li class="nav-item px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="resources">Resources</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../static/img/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper"></span>
                <span class="section-heading-lower">What is it?</span>
              </h2>
              <p><strong>These 3 strains are: Sativa, Indica, and Hybrid.</strong> The 3 cannabis strains that embody different strengths, that affect body and mind.</p>
              <br>
              <p class="mb-0"><strong>SATIVA STRAIN</strong></p>
              <img src="/static/img/Cannabis_Sativa.jpg" alt="sativa" alt="centered image" width="200" height="200" class="imageNav-photo">
              <p><li>Discovered by biologist Carl Linnaeus, who identified the strain (sativa) as a unique species.</li></p>
              <p><li> Known to have higher CBD content over THC content.</li></p>
              <p><strong>Physiological attributes are:</strong>
              <p><li>Tall thin plant, leaves are slender in shape</li></p>
              <p><li>Can grow as tall as 20 feet.</li></p>
              <p><li>Thrives in warm climates around the equator
                       -      Effects: energetic, creative, etc.</li></p>
              <p>
              </p>
              <br>
              <p class="mb-0"><strong>INDICA STRAIN</strong></p>
              <img src="/static/img/Cannabis_Indica.jpg" alt="indica" alt="centered image" width="200" height="200" class="imageNav-photo">
              <p><li>Discovered by Jean-Baptiste Lamarck 1785 in India.</li></p>
              <p><li>Known to have higher THC than CBD contents.</li></p>
              <p><strong>Physiological attributes are:</strong></li></p>
              <p><li>Short bushy plant. Leaves are thick.</li></p>
              <p><li>Can be found in high altitudes with colder climates.</li></p>
              <p><li>Thrives in warm climates around the equator
                       -      Effects: sleepy, relaxed, etc.</li></p>
              <p>
              <br>
              <p class="mb-0"><strong>HYBRID STRAIN</strong></p>
              <img src="/static/img/Cannabis_Hybrid.jpg" alt="hybrid" alt="centered image" width="200" height="200" class="imageNav-photo">
              <p><li>Discovered....</li></p>
              <p><li>Crafty growers from around the....</li></p>
              <p><strong>Physiological attributes are:</strong></li></p>
              <p><li>......</li></p>
              <p><li>....</li></p>
              <p><li>Thrives in .....
                       -      Effects: .....</li></p>
              </p>             
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section about-heading">
    <div class="container">
      <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../img/about.jpg" alt="">
      <div class="about-heading-content">
        <div class="row">
          <div class="col-xl-9 col-lg-10 mx-auto">
            <div class="bg-faded rounded p-5">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Strong Bud, Strong Seeds</span>
                <span class="section-heading-lower">About Our Weed</span>
              </h2>
              <p>......</p>
              <p class="mb-0">.....................</p>
  <body>
    <form method="post" action="{{url_for('handle_form')}}">  
      <fieldset>      
          <legend>What is Your Vibe(s)?</legend>
    <table style="width:100%">
      <tr>
        <td><input type="checkbox" name="favorite_vibe" value="energetic">Energetic<br></td>
        <td><input type="checkbox" name="favorite_vibe" value="creative">Creative<br></td>
        <td><input type="checkbox" name="favorite_vibe" value="tingly">Tingly<br></td>
        <td><input type="checkbox" name="favorite_vibe" value="aroused">Aroused<br></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="favorite_vibe" value="euphoric">Euphoric<br></td>
        <td><input type="checkbox" name="favorite_vibe" value="relaxed">Relaxed<br></td>
        <td><input type="checkbox" name="favorite_vibe" value="happy">Happy</td>
        <td><input type="checkbox" name="favorite_vibe" value="uplifted">Uplifted<br></td>
      </tr>
      <tr>
        <td><input type="checkbox" name="favorite_vibe" value="hungry">Hungry<br></td>
        <td><input type="checkbox" name="favorite_vibe" value="talkative">Talkative<br></td>
        <td><input type="checkbox" name="favorite_vibe" value="sleepy">Sleepy<br></td>
        <td><input type="checkbox" name="favorite_vibe" value="focused">Focused<br></td>
      </tr>
    </table>

    <input type="submit">
    
    </body>
          </fieldset>
               </tr>  
              </form>           
            </table>
             <!-- <button type="submit">SUBMIT</button> --->
                
                 
                <div>{{ strains["prediction"] }}</div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0 large">Copyright &copy; Lupita Lopez & Tia Anderson-Ortega 2021</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
